.issue-page-config {
  padding: 15px;

  .main {
    display: flex;

    .left {
      flex: 1;

      .elements {
        padding-top: 15px;
        padding-bottom: 60px;

        .element {
          float: left;
          width: 50%;
          &.full-line {
            width: 100%;
          }
        }
      }

      .no-elems {
        margin: auto;
        width: 100px;
        height: 60px;
        line-height: 60px;
        font-style: italic;
      }

      overflow: auto;
    }

    .right {
      width: 320px;
      overflow: auto;

      .field-row {
        margin: 8px;
      }
    }
  }
}

