.issue-page-config {
  padding: 15px;

  .field-selection {
    .link {
      margin: 0;
    }
  }
  .tabs {
    .nav-tabs {
      .nav-item {
        .my-row {
          display: flex;
          width: 100%;

          .move {
            width: 16px;
            cursor: pointer;
          }
          .text {
            flex: 1;
            margin: 0 5px;
          }
          .edit {
            flex: 1;
            margin: 0 5px;
            input {
              padding: 3px;
              width: 80px;
              height: 30px;
              border: 0;
              background-color: #fffff0;
              outline: none;
            }
          }
          .opt {
            width: 16px;
            cursor: pointer;
            &.editing {
              width: 35px;
            }
          }
        }

        .nav-link {
          padding: 2px 7px;
          line-height: 30px;
          &.active {
            cursor: default;

            .act {
              display: inline-block;
              margin: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  ul.list-group {
    li.list-group-item {
      &.dragging {
        background-color: #eaeaea;
      }
      .my-row {
        display: flex;
        width: 100%;

        .link {
          font-size: 16px;
        }
        .move {
          width: 30px;
        }
        .text {
          flex: 1;
        }
        .opt {
          width: 30px;
        }
      }

    }
  }
  
  .recycle-wapper {
    height: 100%;
    min-height: 100%;

    background: transparent no-repeat center;
    opacity: 0.1;
    background-size:contain;

    &.dragging {
      opacity: 0.3;
    }
  }
}
