<div class="issue-edit container-fluid">

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        <span *ngIf="!model.id">新建问题</span>
        <span *ngIf="model.id">编辑问题</span>
      </div>

      <div class="filter">

      </div>

      <div class="buttons">
        <button (click)="back()" type="button" class="btn btn-secondary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>返回
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="form" class="row">
    <form [formGroup]="form" (ngSubmit)="save()" class="my-validate-form">



      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <button (click)="save()" type="button" class="btn btn-primary" [disabled]="!form.valid">保存</button>
          &nbsp;
          <button (click)="back()" type="button" class="btn btn-default">取消</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="showModal()" type="button" class="btn btn-danger">删除</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <div class="validate-errors">
            <div class="validate-error" *ngFor="let msg of formErrors">
              <div>{{ msg }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <pop-dialog #modalWrapper (confirm)="delete()" [title]="'提示'">
    确认删除名为"{{model.name}}"的问题?
  </pop-dialog>

</div>
