<div class="tql-condition">
  <form [formGroup]="form">
    <div ngbDropdown #projectDropdown="ngbDropdown" [autoClose]="'outside'" class="btn-group">
      <button class="btn btn-default dropdown" id="projectDropdownMenu" ngbDropdownToggle>{{model.label}}</button>

      <div (click)="clickMenu($event)" class="dropdown-menu" aria-labelledby="projectDropdownMenu" ngbDropdownMenu>
        <button *ngIf="search" class="dropdown-item">
          <input type="search" class="form-control form-control-sm" name="keywords"
                 placeholder="{{model.input==='select'?'过滤':''}}">
          <i class="fa fa-search"></i>
        </button>

        <ng-container *ngIf="model.input=='select'">
          <li class="dropdown-divider"></li>

          <!--<button class="dropdown-item">所有</button>-->
          <button (click)="selectItem(item)" *ngFor="let item of selectOptions" class="dropdown-item list-item">
            <input [(ngModel)]="item.checked" formControlName="{{'menu-item-' + item.key}}" class="form-check-input" type="checkbox" value="{{item.key}}">
            <a>{{item.value}}</a>
          </button>
        </ng-container>

      </div>
    </div>
  </form>
</div>
