.case-data {
  text-align: left;
  margin-bottom: 10px;
  .row {
    line-height: 20px;
    label {
      max-width: 80px;
    }

    &.header {
      line-height: 30px;
      font-size: 15px;
    }
    .pass {
      color: #209e91;
    }
    .fail {
      color: #e85656;
    }
  }
}
