<div class="priority-edit container-fluid">

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        <span>类型配置</span>
      </div>
      <div class="filter"></div>
      <div class="buttons"></div>
    </div>
  </div>

  <div>
    <div class="my-validate-form">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>优先级方案</span></label>
        <div class="col-sm-10">
          <select (change)="change(model.id)" [(ngModel)]="model.id" class="form-control" name="parentId">
            <option value=""></option>
            <option *ngFor="let item of models" value="{{item.id}}">
              <span>{{item.name}}</span>
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>包含优先级</span></label>
        <div class="col-sm-10 col-form-label">
          <div *ngFor="let item of model.items">
            <span>{{item.label}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
