<ng-container [ngSwitch]="field.input">
  <div class="row issue-input"
       (mouseenter)="field.hover = true" (mouseleave)="field.hover = false">

    <label class="col-form-label col-sm-{{getCol()}}">
      <div *ngIf="!forSelection" ngbDropdown #projectDropdown="ngbDropdown" [autoClose]="'outside'" class="btn-group">
        <div *ngIf="field.isRequired" class="require">*</div>

        <button class="btn btn-default dropdown" id="conditionDropdownMenu" ngbDropdownToggle>{{field.label}}</button>
        <div class="dropdown-menu" aria-labelledby="conditionDropdownMenu" ngbDropdownMenu>
          <button class="dropdown-item">
            <a>是否必填</a> <input [(ngModel)]="field.isRequired" type="checkbox">
          </button>
          <button class="dropdown-item">
            <a>沾满整行</a> <input [(ngModel)]="field.fullLine" type="checkbox">
          </button>
        </div>
      </div>

      <span *ngIf="forSelection">{{field.label}}</span>
    </label>

    <div class="controls col-sm-{{12 - labelColNum}}">
      <ng-container *ngSwitchCase="'textarea'">
        <textarea type="text" class="form-control form-control-sm"></textarea>
      </ng-container>

      <ng-container *ngSwitchCase="'dropdown'">
        <select class="form-control form-control-sm">
          <option value="">选项一</option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'radio'">
        <input name="issue-input" type="radio" class="form-check-input">选项一
        <input name="issue-input" type="radio" class="form-check-input">选项二
      </ng-container>

      <ng-container *ngSwitchCase="'checkbox'">
        <input name="issue-input" type="radio" class="form-check-input">选项一
        <input name="issue-input" type="radio" class="form-check-input">选项二
      </ng-container>

      <ng-container *ngSwitchCase="'multi_select'">
        <select multiple class="form-control form-control-sm">
          <option value="">选项一</option>
          <option value="">选项二</option>
          <option value="">选项三</option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'date'">
        <div class="input-group">
          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <input type="text" class="form-control form-control-sm">
      </ng-container>

    </div>
  </div>

</ng-container>
