.tql-condition-datetime {
  .pickers {
    width: 300px;

    .row {
      label {
        padding-right: 0;
        padding-left: 0;
        width: 30px;
      }
      .inputs {
        flex: 1;
        padding-left: 0;

        .input-group {
          margin-bottom: 0;
          input {
            margin-right: 0;
          }
        }
      }
    }
  }
}
