<div class="issue-status-edit container-fluid">

  <form [formGroup]="form" class="my-validate-form">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>名称</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="label" formControlName="label"
                 [(ngModel)]="model.label" #label>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span>取值</span></label>
      <div class="col-sm-10">
        <input *ngIf="!model.isBuildIn" type="text" class="form-control" name="value" formControlName="value"
               [(ngModel)]="model.value" #value>

        <label *ngIf="model.isBuildIn" class="col-form-label">
          {{model.value}}
          <input type="hidden" name="value" formControlName="value" [(ngModel)]="model.value" #value>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span>类别</span></label>
      <div class="col-sm-10">
        <label *ngIf="model.isBuildIn" class="col-form-label">
          {{model.categoryName}}
          <input type="hidden" name="categoryId" formControlName="categoryId" [(ngModel)]="model.categoryId" #categoryId>
        </label>

        <select *ngIf="!model.isBuildIn" [(ngModel)]="model.categoryId" formControlName="categoryId" class="form-control" name="categoryId">
          <option value=""></option>
          <option *ngFor="let entry of categories" value="{{entry.id}}">
            <span>{{entry.name}}</span>
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span>描述</span></label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" name="descr" formControlName="descr" rows="3"
                  [(ngModel)]="model.descr" #descr></textarea>
      </div>
    </div>

    <div class="form-group row just-label">
      <label class="col-sm-2 col-form-label"><span>是否內置</span></label>
      <label class="col-sm-10 col-form-label left">
        {{model.isBuildIn | trueOrFalse}}
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button (click)="save()" type="button" class="btn btn-primary" [disabled]="!form.valid">保存</button>
        &nbsp;
        <button [routerLink]="['/pages/org-admin/issue-settings/issue-status/list']" type="button" class="btn btn-default">取消</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="showModal()" *ngIf="model.id || model.isBuildIn" type="button" class="btn btn-danger">删除</button>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div class="validate-errors">
          <div class="validate-error" *ngFor="let msg of formErrors">
            <div>{{ msg }}</div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>

<pop-dialog #modalWrapper (confirm)="delete()" [title]="'提示'">
  确认删除名为"{{model.name}}"的用户?
</pop-dialog>
