<div class="field-input-edit">
  <div [formGroup]="form">

    <ng-container [ngSwitch]="elem.input">

      <ng-container *ngSwitchCase="'textarea'">
        <textarea [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}"
                  type="text" class="form-control"></textarea>
      </ng-container>

      <ng-container *ngSwitchCase="'richtext'">
        richtext
<!--        <tiny-mce [elemId]="'custom-field-'+field.colCode" [content]="model[field.colCode]" [height]="'200px'"
                  (changed)="onChange($event)"></tiny-mce>-->
      </ng-container>

      <ng-container *ngSwitchCase="'dropdown'">
        <select [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}" class="form-control">
          <option *ngFor="let item of options" value="{{getVal(elem,item)}}">{{item?.label}}</option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'radio'">
        <ng-container *ngFor="let item of options">
          <input [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}" value="{{item?.id}}"
                 type="radio" class="form-check-input">{{item?.label}}
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'checkbox'">
        <ng-container *ngFor="let item of options">
          <input formControlName="{{'elem-'+elem.id}}" value="{{item?.id}}"
                 type="radio" class="form-check-input">{{item?.label}}
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'multi_select'">
        <select formControlName="{{'elem-'+elem.id}}" multiple class="form-control">
          <option *ngFor="let item of options" value="{{item?.id}}">{{item?.label}}</option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'date'">
        <input [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}"
               type="text" placeholder="" readonly="readonly"
               class="my-flatpickr-date form-control form-control-sm">
      </ng-container>

      <ng-container *ngSwitchCase="'time'">
        <input [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}"
               type="text" placeholder="" readonly="readonly"
               class="my-flatpickr-date form-control form-control-sm">
      </ng-container>

      <ng-container *ngSwitchCase="'datetime'">
        <input [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}"
               type="text" placeholder="" readonly="readonly"
               class="my-flatpickr-date form-control form-control-sm">
      </ng-container>

      <ng-container *ngSwitchDefault>
        <input [(ngModel)]="model[elem.colCode]" formControlName="{{'elem-'+elem.id}}"
               type="text" class="form-control">
      </ng-container>

    </ng-container>

  </div>
</div>
