<div class="issue-table">
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr>
          <ng-container *ngFor="let col of columns">
            <th *ngIf="col.display">
              {{col.label}}
            </th>
          </ng-container>

          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of issues">
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col.display">
              <item-prop [item]="item" [col]="col"></item-prop>
            </td>
          </ng-container>

          <td>
            <span [routerLink]="['/pages/org/' + orgId + '/prj/' + prjId + '/issue/' + item.id + '/view']" class="link no-underline">查看</span>
            <span [routerLink]="['/pages/org/' + orgId + '/prj/' + prjId + '/issue/' + item.id + '/edit']" class="link no-underline">编辑</span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

</div>
