<div class="issue-table">
    <div class="row">
      <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
          <th>编号</th>
          <ng-container *ngFor="let col of columns">
            <th *ngIf="col.display">
              {{col.label}}
            </th>
          </ng-container>

          <th>操作</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of issues">
            <td (click)="dealWithIssue(item, 'view')" class="link">{{item.id}}</td>
            <ng-container *ngFor="let col of columns">
              <td (click)="dealWithIssue(item, 'view')" *ngIf="col.display" class="link">
                <item-prop [item]="item" [col]="col"></item-prop>
              </td>
            </ng-container>

            <td>
              <div style="position: relative">
                <issue-opt [item]="item" (dealWithIssueEvent)="dealWithIssue($event)"></issue-opt>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

</div>
