.task-edit-inner {
  font-size: 14px;
  .modal-body {
    padding: 15px;
  }

  .checkbox-list-item {
    label {
      display: block;
    }
    .checkbox-name {
      display: flex;
      width: 90%;
      text-align: left;
      .project {
        flex: 1;
      }
      .suite {
        flex: 1;
      }
      .count {
        width: 60px;
      }
    }
  }
}
