<div class="issue-workflow-list container-fluid">

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        问题工作流
      </div>

      <div class="filter">
      </div>

      <div class="buttons">
        <button (click)="create()" workflow="button" class="btn btn-primary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>新建
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>名称</th>
        <th style="width: 250px;">是否默认</th>
        <th style="width: 250px;">是否內置</th>
        <th>更新时间</th>
        <th style="width: 250px;">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of models; let i = index;">
        <td>{{ item.name }}</td>
        <td>
          <input *ngIf="!item.defaultVal" (change)="setDefault(item)" [(ngModel)]="item.defaultVal" type="checkbox" name="default" #default>
          <input *ngIf="item.defaultVal" onclick="return false;" [(ngModel)]="item.defaultVal" type="checkbox" name="default" #default>
        </td>
        <td>{{ item.buildIn | trueOrFalse }}</td>
        <td>
          <span (click)="edit(item)" class="link no-underline">编辑</span>
          <span (click)="design(item)" class="link no-underline">状态转换</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
