<div class="issue-view">

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        <span>查看问题</span>
      </div>

      <div class="filter">

      </div>

      <div class="buttons">
        <button (click)="back()" type="button" class="btn btn-secondary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>返回
        </button>
      </div>
    </div>
  </div>

  <issue-page [issue]="issue" [issuePropMap]="issuePropMap" [page]="page" (optEvent)="optResult($event)"></issue-page>

</div>
