<div class="tql">
  <div class="form-inline">
    <ng-container *ngFor="let item of filters; let i = index">
      <tql-condition *ngIf="i < 5" [model]="item"
                     [checkedItems]="checkedConditions[item.id]" (selected)="selectItem($event)"></tql-condition>
    </ng-container>

    <div class="btn-group">
      <input [(ngModel)]="keywords"
             type="search" class="form-control form-control-sm keywords" placeholder="关键字" id="keywords" name="keywords">
    </div>

    <div class="btn-group more">
      <tql-condition-selection [filters]="filters" (selected)="selectCondition($event)"></tql-condition-selection>
    </div>

    <div class="btn-group">
      <button (click)="search($event)" type="button" class="btn btn-primary btn-with-icon btn-sm">
        <i class="fa fa-search"></i>搜索
      </button>
    </div>

  </div>

  <div class="form-inline">
    <ng-container *ngFor="let item of filters; let i = index;">
      <tql-condition *ngIf="i >= 5 && item.display" [model]="item"
                     [checkedItems]="checkedConditions[item.id]" (selected)="selectItem($event)"></tql-condition>
    </ng-container>
  </div>

</div>
