<div class="tql">
  <div class="form-inline">
    <ng-container *ngFor="let item of filters; let i = index">
      <tql-condition *ngIf="i < 6" [model]="item" [issuePropMap]="issuePropMap"
                     [checkedItems]="checkedConditions[item.code]"
                     (conditionChangeEvent)="conditionChange($event)"></tql-condition>
    </ng-container>

    <div class="btn-group">
      <input [(ngModel)]="keywords" (change)="keywordsChange()"
             type="search" class="form-control form-control-sm keywords" placeholder="关键字" id="keywords" name="keywords">
    </div>

    <div class="btn-group more">
      <tql-condition-selection [filters]="filters"></tql-condition-selection>
    </div>

    <div class="btn-group">
      <button (click)="search()" type="button" class="btn btn-default btn-with-icon btn-sm">
        <i class="fa fa-search"></i>搜索
      </button>
    </div>
    <div class="btn-group">
      <span (click)="addToFavorites()" class="link">收藏</span>
    </div>

  </div>

  <div class="form-inline">
    <ng-container *ngFor="let item of filters; let i = index;">
      <tql-condition *ngIf="i >= 6 && item.display" [model]="item" [issuePropMap]="issuePropMap"
                     [checkedItems]="checkedConditions[item.code]"
                     (conditionChangeEvent)="conditionChange($event)"></tql-condition>
    </ng-container>
  </div>

</div>
