:host /deep/ {
  .tql-condition {
    .btn-group {
      margin: 0 5px;

      &.has-checked {
        .dropdown-toggle::after {
          color: #209e91;
        }
      }

      input.keywords {
        margin-right: 20px;
      }

      &.more {
        margin-left: 10px;
      }

      .dropdown-item {
        .fa-search {
          margin-left: -45px;
        }

        input[type='checkbox'] {
          margin-right: 3px;
        }

        &.list-item {
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;

          &:active {
            color: #292b2c;
            background-color: #f0f3f4 !important;
          }
        }
      }
    }
  }
}
