<div class="tql-condition">
  <ng-container *ngIf="_tqlConditionService.uiSelect(filter.input)">
    <tql-condition-check [rule]="rule" [filter]="filter" [issuePropMap]="issuePropMap"
                   (conditionChangeEvent)="conditionChange($event)"></tql-condition-check>
  </ng-container>

  <ng-container *ngIf="_tqlConditionService.uiText(filter.input)">
    <tql-condition-text  [rule]="rule" [filter]="filter"
                         (conditionChangeEvent)="conditionChange($event)"></tql-condition-text>
  </ng-container>
  <!--
    <ng-container *ngIf="uiDatetime(filter.input)">
      <tql-condition-check [rule]="rule" [filter]="filter"
                           (conditionChangeEvent)="conditionChange($event)"></tql-condition-check>
    </ng-container>-->
</div>
