<div class="tql-condition">
  <ng-container *ngIf="ui == 'select'">
    <tql-condition-check [rule]="rule" [filter]="filter"
                   (conditionChangeEvent)="conditionChange($event)"></tql-condition-check>
  </ng-container>

  <ng-container *ngIf="ui == 'text'">
    <tql-condition-text  [rule]="rule" [filter]="filter"
                         (conditionChangeEvent)="conditionChange($event)"></tql-condition-text>
  </ng-container>

    <ng-container *ngIf="ui == 'datetime'">
      <tql-condition-datetime [rule]="rule" [filter]="filter"
                           (conditionChangeEvent)="conditionChange($event)"></tql-condition-datetime>
    </ng-container>
</div>
