<ng-container>
  <div class="row issue-input-design">

    <label *ngIf="forSelection" class="in-selection col-form-label col-sm-{{getCol()}}">{{field.label}}</label>
    <label *ngIf="!forSelection" class="in-page col-form-label col-sm-{{getCol()}}">
      <div ngbDropdown #projectDropdown="ngbDropdown" [autoClose]="'outside'" class="btn-group">
        <div *ngIf="field.required" class="require">*</div>

        <button class="btn btn-default dropdown" id="conditionDropdownMenu" ngbDropdownToggle>{{field.label}}</button>
        <div class="dropdown-menu" aria-labelledby="conditionDropdownMenu" ngbDropdownMenu>
          <button class="dropdown-item">
            <a>沾满整行</a> <input (change)="set('fullLine', field.fullLine)" [(ngModel)]="field.fullLine" type="checkbox">
          </button>
          <button class="dropdown-item">
            <a>是否必填</a> <input (change)="set('required', field.required)" [(ngModel)]="field.required" type="checkbox">
          </button>
          <button class="dropdown-item">
            <a>是否只读</a> <input (change)="set('readonly', field.readonly)" [(ngModel)]="field.readonly" type="checkbox">
          </button>
        </div>
      </div>
    </label>

    <!--<div *ngIf="field.readonly" class="readonly col-sm-{{12 - labelColNum}}">取值</div>-->
    <div class="controls col-sm-{{12 - labelColNum}}">

      <ng-container [ngSwitch]="field.input">

        <ng-container *ngSwitchCase="'textarea'">
          <textarea [disabled]="field.readonly" type="text" class="form-control"></textarea>
        </ng-container>

        <ng-container *ngSwitchCase="'dropdown'">
          <select [disabled]="field.readonly" class="form-control">
            <option *ngFor="let item of issuePropMap[field.code]" value="{{item?.value}}">{{item?.label}}</option>
          </select>
        </ng-container>

        <ng-container *ngSwitchCase="'radio'">
          <input *ngFor="let item of issuePropMap[field.code]" value="{{item?.value}}"
                 [disabled]="field.readonly" name="issue-input" type="radio" class="form-check-input">{{item?.label}}
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox'">
          <input *ngFor="let item of issuePropMap[field.code]" value="{{item?.value}}"
                 [disabled]="field.readonly" name="issue-input" type="radio" class="form-check-input">{{item?.label}}
        </ng-container>

        <ng-container *ngSwitchCase="'multi_select'">
          <select [disabled]="field.readonly" multiple class="form-control">
            <option *ngFor="let item of issuePropMap[field.code]" value="{{item?.value}}">{{item?.label}}</option>
          </select>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
          <div class="input-group">
            <input [disabled]="field.readonly" class="form-control" placeholder="yyyy-mm-dd">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <input [disabled]="field.readonly" type="text" class="form-control">
        </ng-container>

      </ng-container>
    </div>
  </div>

</ng-container>
