.issue-input-design {
  padding: 5px;

  .col-form-label {
    &.in-page {
      padding: 6px 0 0 0;
    }
    &.in-selection {
      padding: 0;
      line-height: 38px;
    }

    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: right;

    .require {
      line-height: 23px;
      color: red;
    }

    button {
      padding: 3px;
      border: none;
      outline:none;
      box-shadow: none;
    }

    .dropdown-menu {
      padding: 5px;

      .dropdown-item {
        margin: 5px;
      }
    }
  }

  .readonly {
    line-height: 36px;
  }
  .controls {
    .input-group {
      margin-bottom: 0;
    }

    .datetime {
      display: flex;
      .date {
        flex: 1;
      }
      .gap {
        width: 10px;
      }
      .time {
        width: 150px;
      }
    }
  }

}
