<div class="aitask-edit">
  <div [class.hidden]="model.id" class="module-tips">
    <div *ngIf="model.childrenCount">
      <div class="aitask-data">
        <div class="row header">用例评审：</div>
        <div class="row">
          <div class="col-sm-2">未评审</div>
          <div class="col-sm-10">{{model.childrenCount.notReview}}个</div>
        </div>
        <div class="row">
          <div class="col-sm-2">评审通过</div>
          <div class="col-sm-10 pass">{{model.childrenCount.reviewPass}}个</div>
        </div>
        <div class="row">
          <div class="col-sm-2">评审失败</div>
          <div class="col-sm-10 fail">{{model.childrenCount.reviewFail}}个</div>
        </div>
      </div>
    </div>
  </div>

  <div [class.hidden]="!model.id" class="row">
    <form [formGroup]="form" (ngSubmit)="save()" class="my-validate-form small-label">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <button (click)="save()" type="button" class="btn btn-info btn-sm" [disabled]="!form.valid">保存</button>
          &nbsp;&nbsp;
          <button (click)="run()" type="button" class="btn btn-primary btn-sm"
                  [disabled]="!form.valid">立即执行</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label" style="user-select: text;">TC-{{model.id}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="name" formControlName="name"
                 [(ngModel)]="model.name" #name>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
          <div class="tabs-container light">
            <div class="tabs">
              <ngb-tabset>
                <ngb-tab id="summary">
                  <ng-template ngbTabTitle>任务信息</ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
        <div class="contentType col-sm-2">

        </div>
      </div>

      <div class="tab-summary">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>测试类型</span></label>
          <div class="col-sm-4">
            <select [(ngModel)]="model.testType" formControlName="testType" class="form-control" name="testType">
              <option value=""></option>
              <option *ngFor="let item of aiTestTypeVos" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>

          <label class="col-sm-2 col-form-label"><span>测试环境</span></label>
          <div class="col-sm-4">
            <select [(ngModel)]="model.testEnv" formControlName="testEnv" class="form-control" name="testEnv">
              <option value=""></option>
              <option *ngFor="let item of aiTestEnvVos" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div [class.hidden]="model.testType == 'nlu-sent'" class="form-group row">

          <label class="col-sm-2 col-form-label"><span>测试集来源</span></label>
          <div class="col-sm-4">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="testsetSrc" formControlName="testsetSrc"
                       value="upload" [(ngModel)]="model.testsetSrc" #testsetSrc>
                上传
              </label>&nbsp;&nbsp;

              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="testsetSrc" formControlName="testsetSrc"
                       value="private" [(ngModel)]="model.testsetSrc" #testsetSrc>
                私有
              </label>&nbsp;&nbsp;

              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="testsetSrc" formControlName="testsetSrc"
                       value="public" [(ngModel)]="model.testsetSrc" #testsetSrc>
                公共
              </label>
            </div>
          </div>

          <label class="col-sm-2 col-form-label"><span>测试集</span></label>
          <div *ngIf="model.testsetSrc=='upload'" class="col-sm-3">
            <file-uploader (uploadedEvent)="uploadedEvent($event)"
                           [file]="model.testsetPath" [mimeType]="['.zip']"></file-uploader>
          </div>
          <div *ngIf="model.testsetSrc=='upload'" class="col-sm-1">
            <label class="col-form-label link">
              <a [href]="'upload/data/20180419/t.zip' | imgPath">示例</a>
            </label>
          </div>

          <div *ngIf="model.testsetSrc=='private'" class="col-sm-4">
            <select [(ngModel)]="model.testsetId" formControlName="testsetId" class="form-control" name="testsetId">
              <option value=""></option>
              <option *ngFor="let item of aiTestSetVos" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div *ngIf="model.testsetSrc=='public'" class="col-sm-4">
            <select [(ngModel)]="model.testsetId" formControlName="testsetId" class="form-control" name="testsetId">
              <option value=""></option>
              <option *ngFor="let item of aiTestSetVos" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>

        </div>

        <div [class.hidden]="model.testType != 'nlu-sent'" class="form-group row">

          <label class="col-sm-2 col-form-label"><span>上传说法</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="testProductId" formControlName="testProductId"
                   [(ngModel)]="model.testProductId" #testProductId>
          </div>

          <label class="col-sm-2 col-form-label"><span></span></label>
          <div class="col-sm-4">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="fuse" formControlName="fuse"
                       [(ngModel)]="model.fuse" #isFuse>
                &nbsp;&nbsp;是否融合
              </label>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>产品ID</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="testProductId" formControlName="testProductId"
                   [(ngModel)]="model.testProductId" #testProductId>
          </div>

          <label [class.hidden]="model.testType == 'asrLite'" class="col-sm-2 col-form-label"><span>产品分支aliasKey</span></label>
          <div [class.hidden]="model.testType == 'asrLite'" class="col-sm-4">
            <select [(ngModel)]="model.productBranch" formControlName="productBranch"
                    class="form-control" name="productBranch">
              <option value=""></option>
              <option *ngFor="let item of aiProductBranchVos" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label [class.hidden]="model.testType != 'asrLite'" class="col-sm-2 col-form-label"><span>语言模型</span></label>
          <div [class.hidden]="model.testType != 'asrLite'" class="col-sm-4">
            <select [(ngModel)]="model.asrLangModel" formControlName="asrLangModel" class="form-control" name="asrLangModel">
              <option value=""></option>
              <option *ngFor="let item of asrLangModelVos" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>

          <label class="col-sm-2 col-form-label"><span>音频类型</span></label>
          <div class="col-sm-4">
            <select [(ngModel)]="model.audioType" formControlName="audioType" class="form-control" name="audioType">
              <option value=""></option>
              <option *ngFor="let item of aiAudioTypeVos" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>并发数</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="testConcurrent" formControlName="testConcurrent"
                   [(ngModel)]="model.testConcurrent" #testConcurrent>
          </div>

          <label class="col-sm-2 col-form-label"><span>超时(分钟)</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="testDuration" formControlName="testDuration"
                   [(ngModel)]="model.testDuration" #testDuration>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>开始索引</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="startIndex" formControlName="startIndex"
                   [(ngModel)]="model.startIndex" #startIndex>
          </div>

          <label class="col-sm-2 col-form-label"><span>执行条数</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="numbToRun" formControlName="numbToRun"
                   [(ngModel)]="model.numbToRun" #numbToRun>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>过滤正则</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="regexInput" formControlName="regexInput"
                   [(ngModel)]="model.regexInput" #regexInput>
          </div>
        </div>

      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <div class="validate-errors">
            <div class="validate-error" *ngFor="let msg of formErrors">
              <div>{{ msg }}</div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

</div>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
