@import '../aitask-data';

.aitask-edit {
  margin: 5px;

  .my-validate-form {
    .contentType {
      line-height: 36px;
    }
  }

  .module-tips {
    padding: 0 20px;
  }

  .tab-summary {
    padding: 10px 50px;
  }
  .tab-testset {
    padding: 10px 50px;

    .testset-form {
      margin-bottom: 10px;
    }
    .testset-list {

    }

  }

  .form-check {
    margin: 6px 0;
  }
}
