<div class="issue-query-edit container-fluid">
  <div class="row">
    <div class="edit-toolbar col-xl-12">
      <div class="title">
        <span *ngIf="model?.id">编辑查询</span>
      </div>
      <div class="buttons">
        <button (click)="back()" type="button"
                class="btn btn-primary btn-with-icon btn-sm back">
          <i class="fa fa-arrow-circle-left"></i>返回
        </button>
      </div>
    </div>
  </div>
  <hr/>

  <form [formGroup]="form" class="my-validate-form">
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"><span>名称</span></label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="name" formControlName="name"
               [(ngModel)]="model.name" #name>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-1  col-sm-11">
        <button (click)="update()" type="button" class="btn btn-primary" [disabled]="!form.valid">保存</button>
        &nbsp;
        <button (click)="back()" type="button"
                class="btn btn-default">取消
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="delete()" *ngIf="model.id" type="button"
                class="btn btn-danger">删除
        </button>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-1 col-sm-11">
        <div class="validate-errors">
          <div class="validate-error" *ngFor="let msg of formErrors">
            <div>{{ msg }}</div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>
