<div class="row issue-input-edit">
  <label class="col-form-label col-sm-{{getCol()}}">
    <span *ngIf="elem.required" class="require">*</span>
    <span>{{elem.label}}</span>
  </label>

  <div [formGroup]="form" class="controls col-sm-{{12 - labelColNum}}">
    <ng-container [ngSwitch]="elem.input">

      <ng-container *ngSwitchCase="'textarea'">
        <textarea [(ngModel)]="issue[elem.code]" formControlName="{{'elem-'+elem.id}}"
                  type="text" class="form-control"></textarea>
      </ng-container>

      <ng-container *ngSwitchCase="'dropdown'">
        <select [(ngModel)]="issue[elem.code]" formControlName="{{'elem-'+elem.id}}" class="form-control">
          <option *ngFor="let item of issuePropMap[elem.code]" value="{{item?.id}}">{{item?.label}}</option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'radio'">
        <ng-container *ngFor="let item of issuePropMap[elem.code]">
          <input [(ngModel)]="issue[elem.code]" formControlName="{{'elem-'+elem.id}}" value="{{item?.id}}"
                 type="radio" class="form-check-input">{{item?.label}}
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'checkbox'">
        <ng-container *ngFor="let item of issuePropMap[elem.code]">
          <input formControlName="{{'elem-'+elem.id}}" value="{{item?.id}}"
                 type="radio" class="form-check-input">{{item?.label}}
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'multi_select'">
        <select formControlName="{{'elem-'+elem.id}}" multiple class="form-control">
          <option *ngFor="let item of issuePropMap[elem.code]" value="{{item?.id}}">{{item?.label}}</option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'date'">
        <div class="input-group">
          <input [(ngModel)]="issue[elem.code]" formControlName="{{'elem-'+elem.id}}" #dp="ngbDatepicker"
                 ngbDatepicker [minDate]="startDate" class="form-control" placeholder="yyyy-mm-dd">
          <div class="input-group-addon" (click)="dp.toggle()">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'time'">
        <ngb-timepicker formControlName="{{'elem-'+elem.id}}"></ngb-timepicker>
      </ng-container>

      <ng-container *ngSwitchCase="'datetime'">
        <div class="datetime">
          <div class="input-group date">
            <input [(ngModel)]="issue[elem.code]" formControlName="{{'elem-'+elem.id}}" #dp="ngbDatepicker"
                   ngbDatepicker [minDate]="startDate" class="form-control" placeholder="yyyy-mm-dd">
            <div class="input-group-addon" (click)="dp.toggle()">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
          <div class="gap"></div>
          <div class="time">
            <ngb-timepicker formControlName="{{'elem-'+elem.id}}"></ngb-timepicker>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <input [(ngModel)]="issue[elem.code]" formControlName="{{'elem-'+elem.id}}"
               type="text" class="form-control">
      </ng-container>

    </ng-container>
  </div>
</div>
