@import '../../../../../mixin.scss';

.issue-input-edit {
  padding: 5px;

  .col-form-label {
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: right;

    .require {
      line-height: 23px;
      color: red;
    }
  }

  .readonly {
    line-height: 36px;
  }
  .controls {
    .input-group {
      margin-bottom: 0;
    }

    .datetime {
      display: flex;
      .date {
        flex: 1;
      }
      .gap {
        width: 10px;
      }
      .time {
        width: 150px;
      }
    }
  }

}
