@import '../case-data';

.case-edit {
  margin: 5px;

  .my-validate-form {
    .contentType {
      line-height: 36px;
    }
  }

  .module-tips {
    padding: 0 20px;

    .case-data {
      margin-bottom: 10px;
      .row {
        line-height: 20px;
        label {
          max-width: 80px;
        }

        &.header {
          line-height: 30px;
          font-size: 15px;
        }
        .pass {
          color: #209e91;
        }
        .fail {
          color: #e85656;
        }
      }
    }
  }

  .tab-history {
    padding: 10px 50px;
  }
  .attach-list {
    max-width: none !important;
    .attach-item {
      float: left;
      user-select: none;

      cursor: default;
      border: 1px solid #e5e5e5;
      border-radius: 3px;

      padding: 8px 8px 8px 0;
      position: relative;

      margin: 0 8px 3px 0;
      box-shadow: none;
      color: #5c5c5c;
      line-height: 15px;
      background-color: #fafafa;
      .fa.fa-times {
        padding: 0 3px 0 8px;
      }
      .download {
        text-decoration: underline;
      }
    }
  }
}
