.issue-workflow-design {
  padding: 15px;

  table {
    thead > tr > td {
      line-height: 26px;
    }

    .table-header-td {
      position: relative;
      padding: 0;
      width: 120px;

      &::before {
        content: '';
        position: absolute;
        left: 9px;
        top: 0;
        width: 100px;
        height: 26px;
        box-sizing: border-box;
        border-bottom: 1px solid gainsboro;
        transform-origin: bottom center;
        transform: rotateZ(23deg) scale(1.32);
      }

      table.table-header {
        border: 0;
        td {
          padding: 0;
          width: 60px;
          border: 0;
          line-height: 25px;
          text-align: center !important;
        }
      }
    }

    td, td:first-child {
      text-align: center !important;
      font-weight: bold;
    }
    td.col-hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    .acts-col {
      position: relative;
      .acts {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: normal;
      }
      &.hover .acts {
        display: block;
      }
      &.na {
        background-color: #FFFFF0;
      }
    }


  }
}


