<div class="issue-workflow-solution-config container-fluid">

  <div class="row">
    <div class="edit-toolbar col-xl-12">
      <div class="title">
        <span>配置界面方案 - {{solution.name}}</span>
      </div>
      <div class="buttons">
        <button (click)="back()" type="button"
                class="btn btn-secondary btn-with-icon btn-sm back">
          <i class="fa fa-arrow-circle-left"></i>返回
        </button>
      </div>
    </div>
  </div>
  <hr/>

  <div>
    <table class="table table-bordered table-striped">
      <thead class="thead-inverse">
      <tr>
        <th style="width: 200px">问题类型</th>
        <th style="width: 200px">对应工作流</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of itemMap | mapToArray; let i = index;">
        <td>{{item.key | section:1}}</td>
        <td>
          <select (change)="change(item.key, item.value)" [(ngModel)]="item.value" class="form-control form-control-sm" name="parentId">
            <option *ngFor="let workflow of workflows" value="{{workflow.id+'-'+workflow.name}}">
              <span>{{workflow.name}}</span>
            </option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
