<div class="issue-page-solution-config container-fluid">

  <div class="row">
    <div class="edit-toolbar col-xl-12">
      <div class="title">
        <span>{{solution.name}}</span>
      </div>
      <div class="buttons">
        <button (click)="back()" type="button"
                class="btn btn-secondary btn-with-icon btn-sm back">
          <i class="fa fa-arrow-circle-left"></i>返回
        </button>
      </div>
    </div>
  </div>
  <hr/>

  <div>
    <table class="table table-bordered table-striped">
      <thead class="thead-inverse">
      <tr>
        <th style="width: 200px">问题类型</th>
        <th style="width: 200px">创建界面</th>
        <th style="width: 200px">编辑界面</th>
        <th style="width: 200px">查看界面</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of itemMap | mapToArray; let i = index;">
        <td>{{item.key | section:1}}</td>
        <td *ngFor="let opt of ['create', 'edit', 'view']; let i = index;">
          <select (change)="change(item.key, opt, item.value[opt])" [(ngModel)]="item.value[opt]" class="form-control form-control-sm" name="parentId">
            <option *ngFor="let page of pages" value="{{page.id+'-'+page.name}}">
              <span>{{page.name}}</span>
            </option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
