.org-view {
  display: flex;
  padding: 15px;

  .content {
    flex: 1;
    margin-right: 20px;

    .list-toolbar {
      margin-top: 3px;
    }

    design-progress {
      margin-bottom: 20px;
      width: 100%;
      background-color: #fff;
    }
    execution-process {
      margin-bottom: 20px;
      width: 100%;
      background-color: #fff;
    }
  }

  .info {
    width: 400px;

    .activity .title {
      height: 36px;
      line-height: 36px;
    }
  }


}
