<div class="project-edit-member container-fluid">

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        <span>项目成员</span>
      </div>

      <div class="filter">

      </div>

      <div class="buttons">
        <button (click)="gotoProjectList()" type="button" class="btn btn-primary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>返回
        </button>
      </div>
    </div>
  </div>

    <div class="row">
      <form [formGroup]="formAdd" class="my-validate-form form-add">

        <div class="form-group row">
          <label class="col-2 col-form-label"><span>用户组/用户名/邮箱</span></label>
          <div class="col-10">
            <search-select [(searchModel)]="searchModel" [searchResult]="entitySearchResult" [(selectedModels)]="selectedModels"
                           (searchChange)="changeSearch($event)">
            </search-select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label"><span>项目角色</span></label>
          <div class="col-10">
            <select [(ngModel)]="modelAdd.roleId" formControlName="projectRole" class="form-control" name="projectRole">
              <option *ngFor="let entry of projectRoles" value="{{entry.id}}">
                <span>{{entry.name}}</span>
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label"></label>
          <div class="col-10">
            <button (click)="add($event)" [disabled]="selectedModels.length == 0" type="button" class="btn btn-primary">添加</button>
          </div>
        </div>

      </form>
    </div>

    <div class="row table-container">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr>
          <th>名称</th>
          <th>类型</th>
          <th class="role">项目角色</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of entityInRoles">
          <td>{{ item.entityName }}</td>
          <td>
            <span *ngIf="item.type=='user'">用户</span>
            <span *ngIf="item.type=='group'">用户组</span>
          </td>
          <td class="role">
            <select (change)="changeRole($event.target.value, item.entityId)" [ngModel]="item.projectRoleId" class="form-control form-control-sm">
              <option *ngFor="let entry of projectRoles" value="{{entry.id}}">
                <span>{{entry.name}}</span>
              </option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


