.issue-query {
  padding: 5px 15px;

  .list-toolbar {
    margin-bottom: 5px;
    .title {
      width: 100px;
    }

    .buttons {
      width: 200px;
      .layout {
        display: inline-block;
        padding: 3px;
        font-size: 17px;
        cursor: pointer;
        &.active {
          color: #209e91;
        }
      }
    }
  }

  .link {
    margin: 0 1px !important;
  }
}
