<div class="issue-query container-fluid">
  <div>
    <div class="list-toolbar col-xl-12">
      <div class="title">
        <span>问题查询</span>
      </div>

      <div class="filter">
        <tql [rule]="rule" [filters]="filters"
             (queryChanged)="queryChanged($event)" (searchEvent)="search($event)"></tql>
      </div>

      <div class="buttons">
        <span (click)="changeLayout('table')">
          <i [class.active]="layout=='table'" class="fa fa-list layout"></i>
        </span>
        <span (click)="changeLayout('browse')">
          <i [class.active]="layout=='browse'" class="fa fa-columns layout"></i>
        </span>

        <button type="button" class="btn btn-primary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>新建
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="layout=='table'">
    <div class="row table">
      <div class="list-toolbar col-xl-12">
        <div class="title">
          <page-info [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></page-info>
        </div>

        <div class="filter">
        </div>

        <div class="buttons table-column-selection-wrap">
          <table-column-selection [columns]="columns"></table-column-selection>
        </div>
      </div>
    </div>

    <issue-table [issues]="models"></issue-table>

    <div class="page-container">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="pageChange($event)">
      </ngb-pagination>
    </div>
  </div>

  <div *ngIf="layout=='browse'">
    <issue-browse></issue-browse>
  </div>

</div>
