.issue-query {
  padding: 5px 15px;

  .list-toolbar {
    margin-bottom: 5px;
    .title {
      width: 100px;
    }

    .buttons {
      width: 150px;
      &.table-column-selection-wrap {
        width: 250px;
      }
      .layout {
        display: inline-block;
        padding: 3px;
        font-size: 17px;
        cursor: pointer;
        &.active {
          color: #209e91;
        }
      }
      &.table-column-selection-wrap {
        .row {
          position: absolute;
          right: 0;

          .link {
            line-height: 33px;
          }

          button.dropdown {
            border: 0;
          }
        }
      }
    }
  }

  .table {
    .title {
      width: 200px;
      font-size: 14px;
    }
  }

  .link {
    margin: 0 1px !important;
  }
}
