.issue-query {
  padding: 5px 15px;


  .list-toolbar {
    margin-bottom: 5px;
    .title {
      width: 100px;
    }

    .buttons {
      width: 100px;
    }
  }

  .main {
    display: flex;
    min-height: 500px;
    background-color: #fff;

    .left {

    }
    .content {
      flex: 1;
      z-index: 10;
    }

    .resize-handle {
      position:absolute;
      top: 50px;
      width: 2px;
      cursor: col-resize;
      background-color: #eeeeee;
      z-index: 20;
    }
  }

  .link {
    margin: 0 1px !important;
  }
}
